//
   Created by Varsha on 11/25/2015.

doctype html5
html
    head
        title ODS Admin
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/admin_style.css')
        link(href='https://fonts.googleapis.com/css?family=Exo', rel = 'stylesheet', type = 'text/css')
    body
        -if (message)
            p #{message}


        div#container1
            form(method="post" action = "/admin/signin")
                input(type="text" name="adminID" id="adminID" placeholder="Enter admin ID")
                input(type="password" name="password" id ="password" placeholder="Enter Password")
                button(type="submit", id="submit", class="btn btn-default") Submit