extends layout

block content
    div(class="row")
        div(class="box")
            div(class="col-lg-12 text-center")
                h4(class="intro-text text-center") Welcome&nbsp
                    strong!= name
                hr
    div(class="row")
        div(class="box")
            div(class="col-lg-12 text-center")
                h4(class="intro-text text-center", id="JobsHeading") your upcoming jobs
                hr
                #upcomingjobs.text-center
                    table
                        tbody(id="upcomingjobstable")
                            tr
                                td Record Id
                                td Worker Id
                                td Worker Name
                                td Service
                                td Date
                                td Begin Time
                                td End Time
                                td Status
                hr
                p NOTE: Click on any worker Id to check the average rating. The worker is designated outstanding, good or average based on average rating
                hr
                p NOTE: Click on any record id to view customer details.
                hr
                div(class="btn-group btn-btn-group-justified", role="group")
                    a(type="button", id="alljobs", class="btn btn-default btn-lg") View all jobs
                    a(type="button", id="pendingjobs", class="btn btn-default btn-lg") View Pending Jobs
                hr
    div(class="row")
        div(class="box")
            div(class="col-lg-12 text-center")
                h4(class="intro-text text-center") Add a work man
                    div(id='warningtext')
                    form(role="form", id="workersignupform")
                        div(class="row")
                            div(class="form-group col-lg-4")
                                label Worker Name
                                input(type="text", id='workername', name='name', class="form-control", placeholder="name", value="Jane Doe")
                        div(class="row")
                            div(class="form-group col-lg-4")
                                label Password
                                input(type="password", id='workerpassword', name='password', class="form-control", placeholder="Password", value="secret")
                        div(class="row")
                            div(class="input-group col-lg-4")
                                p Select all the services that you offer!
                                span(class="input-group-addon")
                                    label Cleaning
                                    input(type="checkbox", class="form-control services", name='service[]', value='Cleaning', checked)
                                span(class="input-group-addon")
                                    label Lawn Maintenance
                                    input(type="checkbox", class="form-control services",  name='service[]', value='Lawn Maintenance', unchecked)
                                span(class="input-group-addon")
                                    label Nanny Services
                                    input(type="checkbox", class="form-control services",  name='service[]', value='Nanny Services', checked)
                                span(class="input-group-addon")
                                    label Plumbing
                                    input(type="checkbox", class="form-control services",  name='service[]', value='Plumbing', unchecked)
                                span(class="input-group-addon")
                                    label Electrical
                                    input(type="checkbox", class="form-control services",  name='service[]', value='Electrical', unchecked)
                        hr
                        div(class="btn-group btn-btn-group-justified", role="group")
                            input(type="submit", class="btn btn-default btn-lg")
                            input(type="reset", class="btn btn-default btn-lg")
                hr
    div(class="modal fade", id="workerratingmodal", tabindex="-1", role="dialog", aria-labelledby="workerratingLabel")
        div(class="modal-dialog", role="document")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4(class="modal-title", id="workerratingLabel") Worker Details
                div(class="modal-body")
                    h4(id='workerid') ID -&nbsp
                    h4(id='workerrating') Rating -&nbsp
    div(class="modal fade", id="customerviewmodal", tabindex="-1", role="dialog", aria-labelledby="customerviewLabel")
        div(class="modal-dialog", role="document")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4(class="modal-title", id="customerviewLabel") Customer Details
                div(class="modal-body")
                    h4(id='customeremail') Email -&nbsp
                    h4(id='customername') Name -&nbsp
                    h4(id='customerphone') Mobile Number -&nbsp
    script(type="text/javascript").
        var sm_id= !{JSON.stringify(id)}
        var workerObj, servicesObj = [];
        $(document).ready(function() {
            getJobsFunction('/business/pendingjobs');

            $("body").on('click', '.workerid', function() {
                var worker_id = this.firstChild.textContent;
                $.ajax({
                    url: '/worker/getRating',
                    type: 'GET',
                    data: {worker_id: worker_id, sm_id: sm_id},
                    success: function(result) {
                        $("#workerid").append(worker_id);
                        var rating = result[0];
                        $("#workerrating").append(rating["@worker_rating"]);
                    }
                })
            });
            $("body").on('click', '.customerview', function() {
                var record_id = this.firstChild.textContent;
                $.ajax({
                    url: '/customer/getPublicData',
                    type: 'GET',
                    data: {record_id: record_id},
                    success: function(result) {
                        $("#customeremail").append(result.email);
                        $("#customername").append(result.name);
                        $("#customerphone").append(result.mobile);
                    }
                });
            });
            $("#alljobs").click(function() {
                $("#JobsHeading").text('All your jobs');
                return getJobsFunction('/business/alljobs');

            });
            $("#pendingjobs").click(function() {
                $("#JobsHeading").text('Your Upcoming Jobs');
                return getJobsFunction('/business/pendingjobs');

            });
            $("#workersignupform").submit(function(e) {
                var formValues = ['workername', 'workerpassword'];
                var objValues = ['name', 'password'];
                var reqObj = {};
                for (i = 0; i < formValues.length; i++) {
                    reqObj[objValues[i]] = document.getElementById(formValues[i]).value;
                }
                workerObj = reqObj;
                servicesObj = $("#workersignupform input:checkbox:checked").map(function () {
                    return $(this).val();
                }).get();
                $.ajax({
                    url: '/worker/signup',
                    type: 'POST',
                    data: {workerObj: workerObj, servicesObj: servicesObj, sm_id: sm_id},
                    success: function (res) {
                        console.log(res);
                        if (res) {
                            $("#warningtext").html('<p> You seemed to already have created a worker record with' +
                            'the same name. Are you sure you want to proceed? Click Ok to proceed and Cancel' +
                            'to cancel request</p><button id="workersignupconfirmbutton">OK</button>' +
                            '<button>Cancel</button>')
                        } else {
                            $("#warningtext").html('<p>Successful</p>');
                        }
                    }
                });
                e.preventDefault();
            });
            $("body").on('click', '#workersignupconfirmbutton', function() {
                var confirm = true;
                $.ajax({
                    url: '/worker/signup',
                    type: 'POST',
                    data: {workerObj: workerObj, servicesObj: servicesObj, confirm: confirm, sm_id: sm_id},
                    success: function(res) {
                        $("#warningtext").html('<p>Successful</p>');
                    }
                });
            });
            function getJobsFunction(url) {
                $("#upcomingjobstable tr").slice(1).remove();
                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {sm_id: sm_id},
                    success: function(result) {
                        for (i = 0; i < result.length; i++) {
                            var tr;
                            tr = $('<tr/>');
                            tr.append("<td class='customerview' data-toggle='modal' data-target='#customerviewmodal'>" + result[i].record_id + "</td>");
                            tr.append("<td class='workerid' data-toggle='modal' data-target='#workerratingmodal'>" + result[i].worker_id + "</td>");
                            tr.append("<td>" + result[i].worker + "</td>");
                            tr.append("<td>" + result[i].service + "</td>");
                            tr.append("<td>" + result[i].date + "</td>");
                            tr.append("<td>" + result[i].begin_time + "</td>");
                            tr.append("<td>" + result[i].end_time    + "</td>");
                            tr.append("<td>" + result[i].status    + "</td>");
                            $("#upcomingjobstable").append(tr);
                        }
                    }
                });
            }
        });

